@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@600&display=swap");
:root {
  /*Typography*/
  --body-font: "Open sans", sans-serif;
  --title-font: "Raleway", sans-serif;
  --base-font-size: 18px;
  --base-line-height: 1.66;
  /*Padding*/
  --base-p: 0.25rem;
  --s: calc(var(--base-p) * 2);
  --m: calc(var(--base-p) * 4);
  --l: calc(var(--base-p) * 8);
  /*Radius*/
  --rs: 2px;
  --rm: 4px;
  --rl: 6px;
  /*Form*/
  --border-form-focus: 1px solid #a60146;
  --border-form-error: 1px solid red;
  --border-form-ok: 1px solid green;
  --color-ok: green;
  /*Colors*/
  --text-color: #333;
  --link-color: #00751F;
  --on-link-color: #547E5F;
  --primary-color: #00280F;
  --on-primary-color: #FFE8C7;
  --secondary-color: #403117;
  --terciary-color: #BDA177;
  --bg-color: #F2EEE9;
  --bg-color-light: #FCFAF7;
  --on-terciary-color: var(--secondary-color) ;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: var(--text-color);
  font-size: var(--base-font-size);
  font-family: var(--body-font);
  line-height: var(--base-line-height);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul.inline {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: var(--link-color);
}
a:hover {
  color: var(--on-link-color);
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
*::before,
*::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}
.btn {
  border-radius: var(--rm);
  padding: var(--s) var(--m);
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-size: 0.8rem;
  background: var(--terciary-color);
  color: var(--on-terciary-color);
  font-weight: 600;
}

.container {
  padding: 0 var(--m);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
#logo {
  display: inline-block;
  width: 160px;
}
#logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

#nav-icon {
  width: 25px;
}
#nav-icon:after, #nav-icon:before, #nav-icon div {
  background-color: var(--on-primary-color);
  content: "";
  display: block;
  height: 2px;
  margin: 4px 0;
  transition: all 0.2s ease-in-out;
  border-radius: 1px;
}

#nav-icon.open {
  vertical-align: middle;
  position: relative;
  z-index: 2;
}
#nav-icon.open:before {
  transform: translateY(6px) rotate(135deg);
}
#nav-icon.open:after {
  transform: translateY(-6px) rotate(-135deg);
}
#nav-icon.open div {
  transform: scale(0);
}

@media (min-width: 1024px) {
  #nav-icon {
    display: none;
  }
}
html {
  font-size: 112.5%;
}

/*18px*/
body {
  background-color: white;
  font-family: var(--body-font);
  font-weight: 400;
  line-height: var(--base-line-height);
  color: #333;
}

p {
  margin-bottom: 1.15rem;
  margin-top: 0;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--title-font);
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small, .text_small {
  font-size: 0.8em;
}

header#header {
  background: var(--primary-color);
  color: var(--on-primary-color);
  padding: var(--m) 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header#header a {
  color: var(--on-primary-color);
}
header#header a:hover {
  opacity: 0.6;
}
header#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#header #menunav > ul {
  transform: translateX(-100%);
  flex-direction: column;
  opacity: 0;
  transition: var(--transition-fast);
  min-height: calc(100vh - 82px - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  position: absolute;
  top: 82px;
  right: 0;
  width: 100vw;
  box-sizing: border-box;
  text-align: center;
}
header#header #menunav li {
  margin: var(--m) auto;
}
header#header #menunav > ul > li {
  font-weight: bold;
  font-size: 2rem;
  list-style-type: none;
}
header#header #menunav > ul > li > ul {
  opacity: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
header#header #menunav > ul > li.open {
  position: relative;
}
header#header #menunav > ul > li.open > ul {
  opacity: 1;
  height: auto;
  visibility: visible;
}
header#header #menunav > ul > li > ul li {
  list-style: none;
  margin: var(--s)/2 auto;
}
header#header #menunav > ul > li > ul li a {
  font-size: 1rem;
  color: var(--on-primary-color);
}
header#header #buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--m);
  background: var(--bg-color);
  min-width: 300px;
}
header#header #buttons ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
header#header #buttons ul i {
  margin-right: var(--s);
}
header#header.open #menunav > ul {
  transform: translateX(0);
  opacity: 1;
  font-size: 80%;
}
header#header.open #buttons {
  background: var(--primary-color);
}

@media screen and (min-width: 768px) {
  header#header .container {
    justify-content: flex-start;
  }
  header#header #menunav {
    align-self: flex-start;
    margin-left: var(--m);
  }
  header#header #menunav > ul {
    transform: translateX(0);
    opacity: 1;
    flex-direction: row;
    min-height: auto;
    width: auto;
    position: inherit;
    text-align: left;
  }
  header#header #menunav > ul li {
    font-size: 0.8rem;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
  }
  header#header #menunav > ul > li {
    margin-right: var(--l);
  }
  header#header #menunav > ul > li > ul {
    position: absolute;
    top: 30px;
    left: calc(0px - var(--l));
    background: var(--primary-color);
    padding: var(--l);
  }
  header#header #menunav > ul > li > ul li {
    margin-bottom: var(--s);
  }
  header#header #menunav > ul > li > ul li a {
    font-size: 0.7rem;
  }
  header#header #buttons {
    position: inherit;
    background: transparent;
    justify-self: flex-end;
    margin-left: auto;
  }
  header#header #buttons .btn {
    background: transparent;
    color: var(--on-primary-color);
  }
}
footer#footer #over-footer {
  background: var(--secondary-color);
  color: #fff;
  padding: var(--m);
}
footer#footer #over-footer p {
  margin: 0;
}
footer#footer #over-footer a {
  color: #fff;
}
footer#footer #over-footer a:hover {
  color: var(--on-primary-color);
}
footer#footer #under-footer {
  margin-top: var(--m);
  font-size: 0.8rem;
}
footer#footer #under-footer .container {
  display: flex;
  justify-content: space-between;
}
footer#footer #under-footer .container li {
  margin-right: var(--l);
}

/*# sourceMappingURL=main.css.map */
