.btn{
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: var(--rm);
  padding: var(--m) var(--l);
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-size: 0.8rem;
  background: var(--terciary-color);
  color: var(--on-terciary-color);
  font-weight: 600;
  text-align: center;
  display: inline-block;
  transition: var(--transition);
  &:hover{
    background:var(--on-terciary-color);
    color: #fff;
    cursor: pointer;
  }
}

.btn.medium{
  padding: var(--s) var(--m);
}

.country .btn{
  width: 100%;
}
