.container{
  padding: 0 var(--m);
  margin: 0 auto;
}
@media (min-width: 768px){
  .container{max-width: 768px}
}
@media (min-width: 1024px){
  .container{max-width: 800px}
}

body{
  padding-top: 82px;
}
@media (min-width: 1024px){
  body{
    padding-top: 101px;
  }
}

main section{
  margin-top: calc(var(--l)*2);
}


