.swiper-container{
  width: 100%;
  margin: var(--l) 0;
}
.wine-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  img{
    width: 90px;
    height: auto;
    max-height: 60px;
    filter: grayscale(100%);
  }
}
.slider-container{
  position: relative;
  width: 100%;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2300751F'%2F%3E%3C%2Fsvg%3E");
  right: -40px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: -40px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2300751F'%2F%3E%3C%2Fsvg%3E")
}
.swiper-button-next, .swiper-button-prev{
  width: 8px;
  height: 16px;
  color: #ccc;
  background-size: 8px 16px;
  filter: grayscale(100%);
  margin-top: -8px;
  display: none;
  &:hover{
    filter: grayscale(0%);
  }
}

@media (min-width: 1100px){
  .swiper-button-next, .swiper-button-prev {
    display: block
  }
}
