.contact-container{
  transform: translateY(-100%);
  transition: var(--transition);
  &.open{
    transform: translateY(0);
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .h4{
      margin-top: 0;
    }
    .company-data{
      display: none;
    }
  }
}

@media screen and (min-width: 1024px){
  .contact-container {
    .container {
      flex-direction: row;
      .company-data {
        display: block;
        margin-left: 40px;
      }
    }
  }
}


