.hero{
  .text-container{
    font-weight: bold;
    padding: var(--l) 0;
    border-bottom: var(--border);
    color: #333;
    img{max-width: 60px; }
    p.small{margin-bottom: 16px; }
  }
}

body:not(.home) .hero {
  .container{
    display: flex;
    flex-direction: column;
    .text-container{order:2}
    .map{
      order: 1;
      filter: invert(1);
      margin: 0 auto;
      width: 80%;
      height: auto;
      display: block;
    }
    .buttons{
      display: none;
    }
  }
}
.footer-hero{
  color: #333;
  min-height: 450px;
  margin-bottom: -64px;
  margin-top: 64px;
  h2{margin-top: 0; }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img-container{
    min-height: 450px;
  }
}

.home .footer-hero .img-container{
  display: none;
}

@media screen and (min-width:768px) {
  .home .hero{
    .container{
      justify-content: flex-end;
      display: flex;
      align-items: center;
      .text-container{
        width: 50%;
        color: rgba(255,255,255, 0.7);
        font-style: italic;
        border-bottom: 0 none;
      }
    }
  }
  body:not(.home) .hero {
    .container {
      //align-items: center;
      //justify-content: flex-start;
      .map, .buttons{
        width: 42%;
        height: 100%;
        filter:brightness(0.7);
        order: 2;
      }
    }
    &.country-hero{
      .img-container {
        position: absolute;
        z-index: -1;
      }
      .container{
        flex-direction: row;
        .text-container {
          h1{
            text-align: left;
          }
          order: 1;
          text-align: left;
          font-size: 1.33rem;
          width: 60%;
          background: rgba(255, 255, 255, 0.6);
          border: 1px solid #BCBCBC;
          position: relative;
          font-weight: normal;
          padding: var(--l);
          top: var(--l);
        }
        .map{
          width: 40%;
          height: 110%;
          margin-left: var(--l);
        }
      }
    }
  }
}

@media screen and (min-width:1024px) {
  body:not(.home) .hero, body:not(.home) .hero.country-hero{
    margin-bottom: 232px;
    .container {
      flex-direction: row;
      .text-container {
        h1{
          text-align: left;
        }
        order: 1;
        text-align: left;
        font-size: 1.33rem;
        width: 50%;
        background: rgba(255, 255, 255, 0.6);
        border: 1px solid #BCBCBC;
        position: relative;
        font-weight: normal;
        top: 160px;
        padding: 60px;
      }
      .map{
        width: 42%;
        height: 140%;
      }
      .buttons{
        filter: none;
        display: block;
        top: 160px;
        position: relative;
        padding: 0 0 0 calc(var(--l)*4);
        width: 47%;
        .btn{
          width: 100%;
          display: block;
          margin-bottom: calc(2* var(--l))
        }
      }

    }
  }
  .home .footer-hero .img-container{display: block}
  .footer-hero{
    color: #fff;
    .container{
      .text-content{
        width: 50%;
        h2{
          text-align: left;
        }
      }
    }
  }
}


